/* testing area start */
.card_container {
  border: solid black 1px;
  opacity: 0.4;
}
#user_container {
  background-color: chartreuse;
}
#enemy_container {
  background-color: hotpink;
}
.display_container {
  background-color: rebeccapurple;
}
/* testing area end */
@font-face {
  font-family: pokemon_font;
  src: url(./media/font/shield2.otf);
}

body * {
  display: flex;
  box-sizing: border-box;
  font-family: pokemon_font;
  color: darkgreen;
}
body, main {
  width: 100%;
}
body {
  flex-direction: column;
  margin: 0;
  background-image: url(./media/images/background/background1.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
}
header {
  height: 13vh;
  margin: 1vh auto;
  width: 98%;
}
header, aside, #main_content {
  border: darkgreen solid 2px;
  border-radius: 5px;
  box-shadow: 0 0 5px darkgreen;
}
#menu_container {
  width: 16%;
}
#menu_image, #settings_image {
  height: 90%;
  max-width: calc(height*90%);
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
  position: relative;
}
#menu_image:hover, #settings_image:hover {
  opacity: 1;
}
#menu_image:active, #settings_image:active {
  opacity: 0.4;
  top: 2%;
}
#title_container {
  width: 64%;
  text-shadow: gray 1px 1px;
}
#title_text {
  margin: auto;
  font-size: 4em;
}
#settings_container {
  width: 20%;
}
main {
  height: 85vh;
  flex-direction: row-reverse;
}
aside {
  width: 18%;
  height: 95%;
  margin: 1%;
}
aside, #main_content {
  flex-wrap: wrap;
}
#user_container, #enemy_container {
  height: 36%;
  width: 100%;
}
.display_container {
  height: 28%;
  width: 100%;
}
#main_content {
  width: 78%;
  height: 95%;
  margin: 1%;
}
.card_container {
  width: 20%;
  height: calc(100%/3);
}

@media screen and (max-width: 1050px) {
  header {
    display: none;
  }
  main {
    height: 100vh;
  }
  main {
    flex-direction: column;
  }
  aside, #main_content {
    width: 98%;
  }
  aside {
    height: 18%;
  }
  #user_container, #enemy_container, .display_container {
    height: 100%;
  }
  #user_container, #enemy_container {
  width: 36%;
  }
  .display_container {
    width: 28%;
  }
  #main_content {
    height: 78%;
  }
  .card_container {
    width: calc(100%/3);
    height: 20%;
  }
}

@media screen and (max-width: 1400px) {
  #title_text {
    font-size: 3.5em;
  }
}

@media screen and (max-width: 1250px) {
  #title_text {
    font-size: 3em;
  }
}
